@charset "utf-8";

/* datepicker 멀티 css */
.datepickerArea .ui-datepicker-multi {
    position: relative;
    width: 100% !important;
    padding: 0 40px
}

.datepickerArea .ui-datepicker-multi:after {
    content: '';
    display: block;
    clear: both
}

.datepickerArea .ui-datepicker-group {
    position: relative;
    float: left;
    width: 50%;
    padding: 0 40px;
}

.datepickerArea .ui-datepicker-multi .ui-datepicker-group-last {
    /*border-left: 1px solid #eee;*/
}

.datepickerArea .ui-datepicker-prev {
    display: block;
    position: absolute;
    left: -30px;
    top: 180px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url(../images/btn_calendar_prev.png) 50% 50% no-repeat;
    text-indent: -9999px;
    cursor: pointer;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07)
}

.datepickerArea .ui-datepicker-prev.ui-state-disabled {
    background: url(../images/btn_calendar_prev.png) 0 0 no-repeat;
    opacity: 0.6
}

/* .datepickerArea .ui-datepicker-next {
    display: block;
    position: absolute;
    right: -30px;
    top: 180px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url(../images/btn_calendar_next.png) 50% 50% no-repeat;
    text-indent: -9999px;
    cursor: pointer;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.07)
} */

/* .datepickerArea .ui-datepicker-next.ui-state-disabled {
    background: url(../images/btn_calendar_next.pngs) 0 0 no-repeat;
    opacity: 0.6
} */

.datepickerArea .ui-datepicker-title {
    margin-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    font-family: 'Nanum Gothic';
}

.weekday {
    display: none;
}

.datepickerArea .ui-datepicker-calendar {
    table-layout: auto
}

.datepickerArea .ui-datepicker-calendar thead th {
    width: 60px;
    height: 40px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: #fff;
    border: none;
    letter-spacing: 0;
}

.datepickerArea .ui-datepicker-calendar thead th.ui-datepicker-week-end:first-child {
    color: #e30613;
}

.datepickerArea .ui-datepicker-calendar tbody td {
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: none;
    letter-spacing: 0;
}

.datepickerArea .ui-datepicker-calendar tbody td a {
    position: relative;
    display: block;
    padding: 0.7em 0;
    font-family: 'Nanum Gothic';
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-week-end:first-child a {
    color: red
}

.datepickerArea .ui-datepicker-calendar tbody td.holiday a {
    color: red !important;
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-today,
.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-today a {
    color: #2896eb;
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-today span {
    position: relative;
    display: block;
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-today a:before,
.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-today span:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-today .txt_today {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    text-align: center;
    color: #222;
    font-size: 11px;
    line-height: 1;
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-today .ui-state-active .txt_today {
    color: #fff;
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-state-disabled,
.datepickerArea .ui-datepicker-calendar tbody td.ui-state-disabled a {
    color: #bbb !important;
    background-color: #fff;
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-state-disabled span {
    position: relative;
    display: block;
    padding: 0.7em 0;
}

/*가는 날: start , 오는 날: end*/
.datepickerArea .ui-datepicker-calendar tbody td.startDay a {
    background-color: #e2838a;
    color: #fff;
}

/*.datepickerArea .ui-datepicker-calendar tbody td.startDay a:before {content: '가는 날';display: block;width: 100%;line-height: 14px;height: 14px;font-size: 10px;color: #fff;background-color: rgba(229,154,45,0.8);text-align: center;position: absolute;left:0;top:-14px;z-index: 1;border-color: rgba(229,154,45,0.9);bottom:auto;right:auto}*/
.datepickerArea .ui-datepicker-calendar tbody td.endDay a {
    background-color: #e2838a;
    color: #fff;
}

/*.datepickerArea .ui-datepicker-calendar tbody td.endDay a:before {content: '오는 날';display: block;width: 100%;line-height: 14px;height: 14px;font-size: 10px;color: #fff;background-color: rgba(229,154,45,0.8);text-align: center;position: absolute;left:0;bottom:-14px;z-index: 1;border-color: rgba(229,154,45,0.9);top:auto;right:auto}*/
/*.datepickerArea .ui-datepicker-calendar tbody td.startDay.endDay a:after{content: '가는 날';display: block;width: 100%;line-height: 14px;height: 14px;font-size: 10px;color: #fff;background-color: rgba(229,154,45,0.8);text-align: center;position: absolute;left:0;top:-14px;z-index: 1;border-color: rgba(229,154,45,0.9);bottom:auto;right:auto}*/

/*가는 날 ~ 오는 날 기간*/
.datepickerArea .dp-highlight .ui-state-default {
    background-color: #e7f5ff;
}

.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-day-range,
.datepickerArea .ui-datepicker-calendar tbody td.ui-datepicker-day-range a {
    background-color: #e7f5ff;
}



/* datepicker 멀티 css */
.datepickerAreaMulti .ui-datepicker-multi {
    position: relative;
    width: 100% !important;
    padding: 0 40px
}

.datepickerAreaMulti .ui-datepicker-multi:after {
    content: '';
    display: block;
    clear: both
}

.datepickerAreaMulti .ui-datepicker-group {
    position: relative;
    float: left;
    width: 50%;
    padding: 0 40px;
}


.datepickerAreaMulti .ui-datepicker-title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0;
    font-family: 'Nanum Gothic';
    margin: 25px;
}


.weekday {
    display: none;
}

.datepickerAreaMulti .ui-datepicker-calendar {
    table-layout: auto
}

.datepickerAreaMulti .ui-datepicker-calendar thead th {
    width: 60px;
    height: 40px;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background: #fff;
    border: none;
    letter-spacing: 0;
}

.datepickerAreaMulti .ui-datepicker-calendar thead th.ui-datepicker-week-end:first-child {
    color: #e30613;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td {
    padding: 0;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    border: none;
    letter-spacing: 0;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td a {
    position: relative;
    display: block;
    padding: 0.7em 0;
    font-family: 'Nanum Gothic';
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-week-end:first-child a {
    color: red
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.holiday a {
    color: red !important;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-today,
.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-today a {
    color: #ced56c;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-today span {
    position: relative;
    display: block;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-today a:before,
.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-today span:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-today .txt_today {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 15px;
    text-align: center;
    color: #222;
    font-size: 11px;
    line-height: 1;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-today .ui-state-active .txt_today {
    color: #fff;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-state-disabled,
.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-state-disabled a {
    color: #bbb !important;
    background-color: #fff;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-state-disabled span {
    position: relative;
    display: block;
    padding: 0.7em 0;
}

/*가는 날: start , 오는 날: end*/
.datepickerAreaMulti .ui-datepicker-calendar tbody td.startDay a {
    background-color: #2896eb;
    color: #fff;
}

/*.datepickerAreaMulti .ui-datepicker-calendar tbody td.startDay a:before {content: '가는 날';display: block;width: 100%;line-height: 14px;height: 14px;font-size: 10px;color: #fff;background-color: rgba(229,154,45,0.8);text-align: center;position: absolute;left:0;top:-14px;z-index: 1;border-color: rgba(229,154,45,0.9);bottom:auto;right:auto}*/
.datepickerAreaMulti .ui-datepicker-calendar tbody td.endDay a {
    background-color: #e30613;
    color: #fff;
}

/*.datepickerAreaMulti .ui-datepicker-calendar tbody td.endDay a:before {content: '오는 날';display: block;width: 100%;line-height: 14px;height: 14px;font-size: 10px;color: #fff;background-color: rgba(229,154,45,0.8);text-align: center;position: absolute;left:0;bottom:-14px;z-index: 1;border-color: rgba(229,154,45,0.9);top:auto;right:auto}*/
/*.datepickerAreaMulti .ui-datepicker-calendar tbody td.startDay.endDay a:after{content: '가는 날';display: block;width: 100%;line-height: 14px;height: 14px;font-size: 10px;color: #fff;background-color: rgba(229,154,45,0.8);text-align: center;position: absolute;left:0;top:-14px;z-index: 1;border-color: rgba(229,154,45,0.9);bottom:auto;right:auto}*/

/*가는 날 ~ 오는 날 기간*/
.datepickerAreaMulti .dp-highlight .ui-state-default {
    background-color: #e7f5ff;
}

.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-day-range,
.datepickerAreaMulti .ui-datepicker-calendar tbody td.ui-datepicker-day-range a {
    background-color: #e7f5ff;
}

.datepickerAreaMulti .load {
    width: 463px;
    height: 365px;
    border-radius: 20px;
    margin-right: 60px;
}

.datepickerAreaMulti .load2 {
    width: 463px;
    height: 365px;
    border-radius: 20px;
}

.datepickerAreaMulti .ui-datepicker-header {
    display: flex;
    justify-content: center;
    align-items: center;
}
element.style {
    width: 140px;
}
.btn.blue {
    background: #e30613;
    color: #fff !important;
}
.layer-foot .btn {
    position: absolute;
    right: 40px;
    bottom: 40px;
}
.btn {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    min-width: 160px;
    padding: 0 15px;
    background-color: #e30613;
    vertical-align: middle;
    border-radius: 2px;
    transition: 0.15s all;
}